@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100vw;
  min-height: 100vh;
  overflow-x: clip;
  --background: #fba39d;
  --foreground: #171717;
  --text-color: #000000;
  --bg-light: #fad6d5;
  --nav-text: #000000;
  --card-bg: #fad6d5;
  --white-bg: #ffffff;
  --hero-bg: #fad6d5;
  --nav-bg: #fad6d5;
  --text-right: #fad8dd;
}

body,
html {
  min-height: 100%; /* Ensures it takes at least the viewport height */
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

body {
  overflow: clip;
  flex-grow: 1; /* Allows the body to expand based on content */
}


html{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

body {
  background-color: #f8ecea;
  border-radius: 20px;
}

@media screen and (max-width:700px) {
  html {
    padding-top: 0;
  }
  body {
    background: transparent;
  }
}

html {
  background: var(--background);
}



/* Types of dimension measures */
/* px - Pixels */
/* Percentage : Parent Some percent  */
/* Vh/VW : View port height/ viewport width*/